.posts-wrapper {
  width: 70%;
  margin: 20px auto;
  border: 0px solid rgb(185, 108, 108);
}

.post {
  width: 90%;
  margin: 20px auto;
  padding: 10px 5px 0px 5px;
  border: 1px solid rgb(7, 210, 241);
  background-color:#F7F7F7;
}
.post-info {
  margin: 10px auto 0px;
  padding: 5px;
}
.fa {
  font-size: 1.2em;
}
.fa-thumbs-down, .fa-thumbs-o-down {
  transform:rotateY(140deg);
}
.logged_in_user {
  padding: 10px 30px 0px;
}
i {
  color: blue;
}

input[type=submit],
button {
	padding: 0.2em;
  font-size: 18px;
  font-family: Tahoma;
  cursor:pointer;
}

input[type=text]{
	padding: 0.2em;
  font-size: 18px;
  font-family: Tahoma;
  text-decoration: none;
}

@media (min-width: 101px) and (max-width: 800px) {
  #searchbar { width:60%; }
  img { width:70%; }
  html,body { font-family: Verdana; font-size:15px; }
  .posts-wrapper { width: 99%; position:relative; left:-1.5px; }
  .loadbutton-wrapper { width: 99%; }
  .post { width: 99%; position:relative; left:-1.5px; }
  #movietitle { width:79%; position:relative; padding: 0.2em; font-size: 16px; font-family: Tahoma; }
  #moviedescription { width:79%; position:relative; padding: 0.2em; font-size: 16px; font-family: Tahoma; top:5px;}
  #submitbutton { width:79.5%; position:relative; padding: 0.2em; font-size: 16px; font-family: Tahoma;}
  #username_login { width:79%; position:relative; padding: 0.2em; font-size: 18px; font-family: Tahoma; }
  #username_password {width:79%; position:relative; padding: 0.2em; font-size: 16px; font-family: Tahoma; top:5px; }
  #login_button { width:79.5%; position:relative; padding: 0.2em; font-size: 16px; font-family: Tahoma; }
  #username_register { width:70%; position:relative; padding: 0.2em; font-size: 16px; font-family: Tahoma; }
  #email_register { width:70%; position:relative; padding: 0.2em; font-size: 16px; font-family: Tahoma; top:5px; }
  #password_register { width:70%; position:relative; padding: 0.2em; font-size: 16px; font-family: Tahoma; top:10px; }
  #button_register { width:70.5%; position:relative; padding: 0.2em; font-size: 16px; font-family: Tahoma; }
}
@media (min-width: 801px) {
  #searchbar { width:30%; }
  img { width:42%; }
  html,body { font-family: Verdana; font-size:17px; }
  .posts-wrapper { width: 70%; }
  .loadbutton-wrapper { width: 70% }
  .post { width: 90%; }
  #movietitle { width:50%; position:relative; padding: 0.2em; font-size: 18px; font-family: Tahoma; }
  #moviedescription { width:50%; position:relative; padding: 0.2em; font-size: 18px; font-family: Tahoma; top:5px; }
  #submitbutton { width:50.5%; position:relative; padding: 0.2em; font-size: 18px; font-family: Tahoma; }
  #username_login { width:30%; position:relative; padding: 0.2em; font-size: 18px; font-family: Tahoma;}
  #username_password { width:30%; position:relative; padding: 0.2em; font-size: 18px; font-family: Tahoma; top:5px; }
  #login_button { width:30.5%; position:relative; padding: 0.2em; font-size: 18px; font-family: Tahoma; }
  #username_register { width:30%; position:relative; padding: 0.2em; font-size: 18px; font-family: Tahoma; }
  #email_register { width:30%; position:relative; padding: 0.2em; font-size: 18px; font-family: Tahoma; top:5px; }
  #password_register { width:30%; position:relative; padding: 0.2em; font-size: 18px; font-family: Tahoma; top:10px; }
  #button_register { width:30.5%; position:relative; padding: 0.2em; font-size: 18px; font-family: Tahoma; }
}
