.posts-wrapper {
  width: 70%;
  margin: 20px auto;
  border: 0px solid rgb(185, 108, 108);
}

.loadbutton-wrapper {
  width: 70%;
  margin: 20px auto;
  border: 1px solid rgb(185, 108, 108);
}

.post {
  width: 90%;
  margin: 20px auto;
  padding: 10px 5px 0px 5px;
  border: 1px solid rgb(7, 210, 241);
  background-color:#F7F7F7;
}
.post-info {
  margin: 10px auto 0px;
  padding: 5px;
}
.fa {
  font-size: 1.2em;
}
.fa-thumbs-down, .fa-thumbs-o-down {
  transform:rotateY(140deg);
}
.logged_in_user {
  padding: 10px 30px 0px;
}
i {
  color: blue;
}

html,body {
  font-family: Verdana;
  font-size:17px;
}

input[type=submit],
button {
	padding: 0.2em;
  font-size: 18px;
  font-family: Tahoma;
  cursor:pointer;
}

input[type=text]{
	padding: 0.2em;
  font-size: 18px;
  font-family: Tahoma;
  text-decoration: none;
}

img {
  width:32%;
}

#loadmorebutton {

  cursor:pointer;
  cursor:hand;
  font-family:Arial, serif;
  width: 64%;
  color:rgba(0,0,0,0.9);
  text-shadow:1px 1px 0px rgba(255,255,255,0.8);
  border:1px solid rgba(0,0,0,0.5);
    
  background:-webkit-gradient(linear,0% 0%,0% 100%,from(rgba(255,255,255,1)),to(rgba(185,185,185,1)));
  background:-moz-linear-gradient(top,rgba(255,255,255,1),rgba(185,185,185,1));
  line-height:20px;
  padding:4px 4px;
  
  }
  
  #loadmorebutton:hover {
    background:rgba(240,240,240,1);
  }
  
  #loadmorebutton:active, button:focus {
    background:-webkit-gradient(linear,0% 100%,0% 0%,from(rgba(255,255,255,1)),to(rgba(185,185,185,1)));
    background:-moz-linear-gradient(bottom,rgba(255,255,255,1),rgba(185,185,185,1));
  }
  
  #loadmorebutton:disabled {
    color:rgba(0,0,0,0.4);
    text-shadow:1px 1px 0px rgba(255,255,255,0.5);
    background:rgba(220,220,220,1);
  }